<!DOCTYPE html>
<html lang="fr">
    {% include 'includes/header.twig' %}
    <body>
        {% include 'includes/header.html' %}
        {% include 'includes/navbar.html' %}
        <section class="page-section about-heading">
            <div class="container">
                <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src="assets/img/pauline_robin/saut_gue.jpg" alt="franchissement d'un gué avec une selle prestige" />
                <div class="about-heading-content">
                    <div class="row">
                        <div class="col-xl-9 col-lg-10 mx-auto">
                            <div class="bg-faded rounded p-5">
                                <h2 class="section-heading mb-4">
                                    <span class="section-heading-upper">À la recherche de l'efficacité et de la performance</span>
                                    <span class="section-heading-lower">Technicité & Ethique</span>
                                </h2>
                                <p>Créée en 2022 la Sellerie Dibadoup a pour but de revendre une sélections de produits choisis par des techniciens pour leur conception avantageuse, leur qualité et leur efficacité. Dans la mesure du possible nous privilégions des fournisseurs ayant des fabrications européennes voir françaises et un cahier des charges rigoureux. 
                                </p>
                                <p class="mb-0">
                                   La vente de certains produits techniques comme les selles ou les mors ne sont possibles que par le biais de nos techniciens
                                    <em>saddle-fitter</em>
                                    ou 
                                    <em>bit-fitter</em>
                                    , dans le cadre de consultations pour que ces choix soient basés sur des critères d'ergonomie appliquée à vos besoins.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        {% include 'includes/footer.html' %}
        {% include 'includes/scripts.html' %}
    </body>
</html>
