<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="La Sellerie Dibadoup, basée en Bretagne, vous oriente pour le choix d'un matériel d'équitation ergonomique grace à ses bit-fitters et saddle-fitters. Elle vous propose une sélection de marques offrant un matériel technique pour vous accompagner dans votre pratique de loisir ou sportive en toute sécurité dans le plus grand confort." />
        <meta name="author" content="Galadriel Pigot" />
        <!-- Facebook Meta Tags -->
        <meta property="og:url" content="https://dibadoup.eu">
        <meta property="og:type" content="website">
        <meta property="og:title" content="Sellerie Dibadoup">
        <meta property="og:description" content="La Sellerie Dibadoup, basée en Bretagne, vous oriente pour le choix d'un matériel d'équitation ergonomique grace à ses bit-fitters et saddle-fitters. Elle vous propose une sélection de marques offrant un matériel technique pour vous accompagner dans votre pratique de loisir ou sportive en toute sécurité dans le plus grand confort.">
        <meta property="og:image" content="https://dibadoup.eu/assets/img/pauline_robin/saut_gue.jpg">

        <!-- Twitter Meta Tags -->
        <meta name="twitter:card" content="summary_large_image">
        <meta property="twitter:domain" content="dibadoup.eu">
        <meta property="twitter:url" content="https://dibadoup.eu">
        <meta name="twitter:title" content="Sellerie Dibadoup">
        <meta name="twitter:description" content="La Sellerie Dibadoup, basée en Bretagne, vous oriente pour le choix d'un matériel d'équitation ergonomique grace à ses bit-fitters et saddle-fitters. Elle vous propose une sélection de marques offrant un matériel technique pour vous accompagner dans votre pratique de loisir ou sportive en toute sécurité dans le plus grand confort.">
        <meta name="twitter:image" content="https://dibadoup.eu/assets/img/pauline_robin/saut_gue.jpg">

        <title>{% block title %}{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="favicon.ico" />
        <link rel="icon" type="image/jpg" href="favicon.jpg" />
        <link href="assets/fonts/fonts.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="assets/css/styles.css" rel="stylesheet" />
    </head>
    <body>
        <header>
            <h1 class="site-heading text-center text-faded d-none d-lg-block">
                <span class="site-heading-lower">Sellerie Dibadoup</span>
            </h1>
        </header>
        {% include '../includes/navbar.html' %}
        {% block content %}{% endblock %}
        {% include '../includes/footer.html' %}
        <script src="assets/js/bootstrap.bundle.min.js"></script>
    </body>
</html>
